body {
font-family: High Tower Text, serif;
background-color:#333236;
color:#E6FF99;
}

h1 {
font-size:32px;
color:#E6FF99;
background-color:#333236;
}

p{
color:#E6FF99
}

a {
text-decoration:none;
color:#ffffff;
}

a:hover {
color:#E6FF99;
}