body {
	font-family: tahoma, Arial, sans-serif;
	background-color:#333236;
	color:#D5F062;
	}
	
h1 {
	font-size:32px;
	color:#006600;
	background-color:#D5F062;
	}
	
h2 {
	font-size:28px;
	color:#336699;
	background-color:#D5F062;
	}
h3 {
	font-size:24px;
	color:#22ffff;
	background-color:#D5F062;
	}
h4, h5, h6 {
	font-size:18px;
	color:#ff88ff;
	background-color:#D5F062;
	}

a {
	text-decoration:none;
	color:#ffffff;
	}
	
a:hover {
	color:#00ff00;
	}
